{{> header}}

<br>
<h2>Drop a dream of your own or Browse Dream Drops by others!</h2>
{{!-- Form to input dream data --}}
<main>
    <div class="container-fluid">
        <div class="splashbox">
            <h5 class="display-5">Dream Drop:</h5>
            <form action="/dreams" method="POST" class="dream_create">
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="dreamer_name">Please Select Your Name From the Drop Down Menu:</label>
                        <select class="form-control" name="dreamer_name">
                            <option selected>Please Choose One</option>
                            {{#each dreams}}
                            <option value="true" data-id={{this.id}}>{{this.dreamer_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dreamer_title">What is the Title of Your Dream?</label>
                        <input type="text" class="form-control" id="dream_title" placeholder="Enter Food Here"
                            name="dream_title">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="dream_description">Describe Your Dream Here:</label>
                        <textarea class="form-control" rows="5" id="dream_description"
                            name="dream_description"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="category">Which of the following categories would you say your dream was?</label>
                        <select class="custom-select" name="category">
                            <option selected>Please Choose One</option>
                            <option value="Daydream">Daydream</option>
                            <option value="Lucid Dream">Lucid Dream</option>
                            <option value="Nightmare">Nightmare</option>
                            <option value="Recurring Dream">Recurring Dream</option>
                            <option value="Healing Dream">Healing Dream</option>
                            <option value="Prophetic Dream">Prophetic Dream</option>
                            <option value="Signal Dream">Signal Dream</option>
                            <option value="Epic Dream">Epic Dream</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="mood">Which of the following most closely reflects your mood when you went to
                            sleep?</label>
                        <select class="custom-select" name="mood">
                            <option selected>Please Choose One</option>
                            <option value="Tense-Nervous">Tense-Nervous</option>
                            <option value="Irritated-Annoyed">Irritated-Annoyed</option>
                            <option value="Excited-Lively">Excited-Lively</option>
                            <option value="Cheerful-Happy">Cheerful-Happy</option>
                            <option value="Bored-Weary">Bored-Weary</option>
                            <option value="Gloomy-Sad">Gloomy-Sad</option>
                            <option value="Relaxed-Carefree">Relaxed-Carefree</option>
                            <option value="Calm-Serene">Calm-Serene</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="food">What did you eat before sleeping?</label>
                        <input type="text" class="form-control" id="food" placeholder="Enter Food Here" name="food">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="hours_of_sleep">How many total hours did you sleep?</label>
                        <input type="number" class="form-control" id="hours_of_sleep" placeholder="Enter Number Here"
                            name="hours_of_sleep">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="tv_on">Did you fall asleep with the television on?</label>
                        <select id="tv_on" class="form-control" name="tv_on">
                            <option selected>Please Choose One</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <button id="createDreamBtn" type="submit" class="btn btn-info btn-lg">Drop A Dream</button>
                <a class="btn btn-info btn-lg" href="./update.handlebars" role="button">Edit A Dream</a>
            </form>
        </div>
    </div>


    {{!-- Form to filter dreams by either category or mood --}}
    {{!-- <div class="container-fluid">
        <div class="splashbox">

            <h5 class="display-5">Filter Which Dreams You See Here, Or Keep Scrolling to See All Dreams:</h5>
            <form action="/dreams" method="POST" class="dream_create">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="category">Filter by Category:</label>
                        <select class="custom-select" name="category" data-selected="unchecked">
                            <option selected>Please Choose One</option>
                            <option value="Daydream">Daydream</option>
                            <option value="Lucid Dream">Lucid Dream</option>
                            <option value="Nightmare">Nightmare</option>
                            <option value="Recurring Dream">Recurring Dream</option>
                            <option value="Healing Dream">Healing Dream</option>
                            <option value="Prophetic Dream">Prophetic Dream</option>
                            <option value="Signal Dream">Signal Dream</option>
                            <option value="Epic Dream">Epic Dream</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="mood">Filter by Mood:</label>
                        <select class="custom-select" name="mood" data-selected="unchecked">
                            <option selected>Please Choose One</option>
                            <option value="Tense-Nervous">Tense-Nervous</option>
                            <option value="Irritated-Annoyed">Irritated-Annoyed</option>
                            <option value="Excited-Lively">Excited-Lively</option>
                            <option value="Cheerful-Happy">Cheerful-Happy</option>
                            <option value="Bored-Weary">Bored-Weary</option>
                            <option value="Gloomy-Sad">Gloomy-Sad</option>
                            <option value="Relaxed-Carefree">Relaxed-Carefree</option>
                            <option value="Calm-Serene">Calm-Serene</option>
                        </select>
                    </div>
                </div>
                <button id="filterDreamBtn" type="submit" class="btn btn-info btn-lg">Filter Dreams</button>
            </form>
        </div>
    </div> --}}

    {{!-- displays all available user dreams from dreams data table --}}
    <div class="container-fluid">
        <div class="splashbox">
            <div class="row">
                <div class="col-lg-12">
                    {{#each dreams}}
                    <div>
                        <p>{{this.dream_description}}</p>
                        <h6>{{this.mood}}</h6>
                        <h6>{{this.category}}</h6>
                        <button id="deleteDreamBtn" type="submit" class="btn btn-info btn-lg">Delete Dream</button>
                    </div>
                    {{/each}}
                    {{!-- <button {{this.dream_id}}> --}}
                </div>
            </div>
        </div>
    </div>

</main>